*{
  font-family:"Roboto",sans-serif;
}
h1,h2{
  font-family:"Montserrat",sans-serif;
}
body {
  background-color:#FED176;
}
#profile {
  height:250px;
  width:250px;
}
#landing{
  padding-top:70px;
  height:70vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.jumbotron {
  background-color:transparent;
  /*transparent/#FED176*/
}
#gallery{
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
ul{
  list-style: none;
  padding:0;
}
h2{
  color:#DC3545;
}
.tools{
  padding:20px;
  height:200px;
  border:5px solid #DC3545;
  margin:20px;
  width:75%;
  background-color:#FED176;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
html{
  scroll-behavior:smooth;
}